@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <!-- Form to be auto-submitted by JavaScript -->
            </form>

            <script>
                // Auto-submit the logout form when the page loads
                document.addEventListener("DOMContentLoaded", function() {
                    document.getElementById("logoutForm").submit();
                });
            </script>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
